{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:import/errors", "plugin:import/warnings"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": ["jest"],
  "globals": {},
  "settings": {},
  "rules": {
    "function-paren-newline": ["error", "multiline"],
    "import/no-cycle": 0,
    "import/extensions": 0,
    "no-nested-ternary": 0,
    "no-confusing-arrow": 0,
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "consistent": true
        },
        "ObjectPattern": {
          "multiline": true
        }
      }
    ],
    "semi": [2, "never"]
  }
}
